[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:pedestrianlove/kickstart.nvim.git
[submodule ".config/Alacritty/catppuccin"]
	path = .config/Alacritty/catppuccin
	url = git@github.com:catppuccin/alacritty.git
